<h2>Сменить пароль</h2>
{{user}}
<form name="register" ng-submit="saveUser(user)" class="registration form-horizontal">
    <fieldset>
        <label>Текущий пароль:</label>
        <input type="password" placeholder="Текущий пароль…" ng-model="user.password">
    </fieldset>
    <fieldset>
        <label>Новый пароль:</label>
        <input type="password" placeholder="Новый пароль…" ng-model="user.password">
    </fieldset>
    <fieldset>
        <label>Повторите пароль: </label>
        <input type="password" placeholder="Повторите пароль…" ng-model="user.spassword">
    </fieldset>
    <fieldset>
        <label></label>
        <button ng-disabled="register.$invalid || loading" ng-click="saveUser(user)"
                class="btn btn-primary">
            <span ng-hide="loading">Сохранить</span>
            <span ng-show="loading">Сохраняется...</span>
        </button>
    </fieldset>
</form>