<h2>Сменить пароль</h2>

<div class="alert alert-success" ng-if="changed">
    Пароль успешно изменен
</div>

<form name="register" ng-submit="changePassword(profile)" class="registration form-horizontal">
    <div class="control-group" ng-class="{'error': errors.old_password}">
        <label class="control-label">Текущий пароль</label>
        <div class="controls">
            <input type="password" required ng-model="profile.old_password" />
            <div class="help-block" ng-if="errors.old_password.invalid">Вы указали неверный пароль</div>
        </div>
    </div>
    <div class="control-group" ng-class="{'error': errors.new_password}">
        <label class="control-label">Новый пароль</label>
        <div class="controls">
            <input type="password" required ng-model="profile.new_password"/>
            <div class="help-block" ng-if="errors.new_password.invalid">Вы указали неверный пароль</div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Повторите пароль</label>
        <div class="controls">
            <input type="password" required ng-model="profile.spassword">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <button ng-disabled="register.$invalid || loading || profile.new_password != profile.spassword" class="btn btn-inverse">
                <span ng-hide="loading">Сохранить</span>
                <span ng-show="loading">Сохраняется...</span>
            </button>
        </div>
    </div>
</form>
