<h1>Редактировать профиль</h1>

<form name="register" ng-submit="saveUser(user)" class="registration form-horizontal">
    <div class="control-group" ng-class="{'error': errors.firstname}">
        <label class="control-label">Имя</label>
        <div class="controls">
            <input class="form-control" type="text" ng-model="user.firstname">
        </div>
    </div>
    <div class="control-group" ng-class="{'error': errors.firstname}">
        <label class="control-label">Фамилия</label>
        <div class="controls">
            <input class="form-control" type="text" ng-model="user.secondname">
        </div>
    </div>
    <div class="control-group" ng-class="{'error': errors.firstname}">
        <label class="control-label">Дата рождения</label>
        <div class="controls">
            <div data-date-start-view="2" data-date-format="dd.mm.yyyy" data-date="01.01.1980" id="dpYears" class="input-group date">
                <input type="text" ng-model="user.birth_date" bz-datepicker size="16" class="form-control">
                <span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="control-group" ng-class="{'error': errors.email}">
        <label class="control-label">E-mail:</label>
        <div class="controls">
            <input class="form-control" type="email" required ng-model="user.email"/>
            <div class="help-block" ng-if="errors.email.required">Укажите Ваш e-mail</div>
            <div class="help-block" ng-if="errors.email.email">Вы неверно ввели e-mail</div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <button ng-disabled="register.$invalid || loading" ng-click="saveUser(user)"
                    class="btn btn-inverse">
                <span ng-hide="loading">Сохранить</span>
                <span ng-show="loading">Сохраняется...</span>
            </button>
            <a smooth-scroll data-target="top" href="/user/profile" class="btn btn-default">Отмена</a>
        </div>
    </div>
</form>