<div class="container">
    <div class="row">
        <div class="logo span4">
            <a href="/" title=""><img src="/assets/img/logo.png" alt="" title=""/></a>
        </div>
        <div class="span8 navbar main-menu">
            <div class="navbar-inner pull-right">
                <div class="container">
                    <div class="b-main-menu" bz-widget="'bcMenu.Widgets.Menu'"
                         data-settings="{ 'id': 4, template: '/' }">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>