<div class="main_info">
    <h1>{{ user.fullname }}</h1>
    <ul class="list-unstyled">
        <li class="row" ng-show="user.firstname">
            <span class="col-lg-4">Имя:</span>
            <span class="col-lg-8">{{ user.firstname }}</span>
        </li>
        <li class="row" ng-show="user.secondname">
            <span class="col-lg-4">Фамилия:</span>
            <span class="col-lg-8">{{ user.secondname }}</span>
        </li>
        <li class="row" ng-show="user.birth_date">
            <span class="col-lg-4">Дата рождения:</span>
            <span class="col-lg-8">{{ user.birth_date }}</span>
        </li>
        <li class="row" ng-show="user.city">
            <span class="col-lg-4">Город:</span>
            <span class="col-lg-8">{{ user.city }}</span></li>
        <li class="row" ng-show="user.email">
            <span class="col-lg-4">E-mail:</span>
            <span class="col-lg-8">{{ user.email }}</span>
        </li>
    </ul>
</div>