<div class="main_info">
    <h2>{{ user.firstname }} {{ user.secondname }} <a href="/user/profile/edit"><span class="icon-pencil"></span></a></h2>

    <form class="registration form-horizontal">
        <div ng-show="user.firstname" class="control-group">
            <label class="control-label">Имя</label>
            <div class="controls">
                <input type="text" disabled value="{{ user.firstname }}">
            </div>
        </div>
        <div ng-show="user.secondname" class="control-group">
            <label class="control-label">Фамилия</label>
            <div class="controls">
                <input type="text" disabled value="{{ user.secondname }}">
            </div>
        </div>
        <div ng-show="user.birth_date" class="control-group">
            <label class="control-label">Дата рождения</label>
            <div class="controls">
                <input type="text" disabled value="{{ user.birth_date }}">
            </div>
        </div>
        <div ng-show="user.email" class="control-group">
            <label class="control-label">E-mail</label>
            <div class="controls">
                <input type="text" disabled value="{{ user.email }}">
            </div>
        </div>
    </form>
</div>